* {
    box-sizing: border-box;    
}


a:hover {
    color: red;
}
body {
    padding: 10px;
    background: #f1f1f1;
    margin: auto;
    max-width: 1000px;
}
/*Navbar*/
ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    position: sticky;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF3333;
}
/*Navbar end*/

/*Content*/
.leftcolumn {
    float: left;
    width: 33.33%;
}

.rightcolumn {
    float: left;
    width: 66.66%;
    padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
div.card i, div.card p i{
    display: inline;
    vertical-align: middle;
}
div.card i:after {
    content: "  ";
}
/*Content end*/
/*
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 200px;
}
*/
div.profile img {
    width: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


/*
@media screen and (max-width: 1200px) {
    .body {
        padding: 10px;
        background: #ff0000;
        margin: 0px 0px;
    }
}
*/
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0px;
    }
    body {
        margin: 0;
    }
}
/**/
@media screen and (max-width: 400px) {
    ul.topnav li {
        float: none;
        width: 100%;
    }
    ul.topnav {
        position: static;
    }
    body {
        margin: 0;
    }
    div.profile img {
        display: none; 
    }

}